.social-links {
    margin-top: 20px;
}

.linkedin-link {
    text-decoration: none;
    font-size: 18px;
    color: #0077b5; /* LinkedIn blue */
    font-weight: bold;
}

.linkedin-link i {
    margin-right: 8px;
    font-size: 20px;
}
